<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iekun.ef.dao.EarlWarningTaskMapper">

  <resultMap type="com.iekun.ef.model.TargetAlarm" id="BaseResultMap1" >
    <result column="SITE_NAME" jdbcType="VARCHAR" property="siteName" />
    <result column="SITE_SN" jdbcType="VARCHAR" property="siteSn" />
    <result column="IMSI" jdbcType="VARCHAR" property="imsi" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
  </resultMap>

  <resultMap  type="com.iekun.ef.model.Device" id="BaseResultMap">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SITE_ID" jdbcType="BIGINT" property="siteId" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="TINYINT" property="type" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="MANUFACTURER" jdbcType="VARCHAR" property="manufacturer" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="DELETE_FLAG" jdbcType="BIT" property="deleteFlag" />
  </resultMap>


  <resultMap  type="com.iekun.ef.model.TargetAlarm" id="BaseResultMap12">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName" />
    <result column="SITE_NAME" jdbcType="VARCHAR" property="siteName" />
    <result column="DEVICE_SN" jdbcType="VARCHAR" property="deviceSn" />
    <result column="SITE_SN" jdbcType="VARCHAR" property="siteSn" />
    <result column="IMSI" jdbcType="VARCHAR" property="imsi" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="STMSI" jdbcType="VARCHAR" property="stmsi" />
    <result column="MAC" jdbcType="VARCHAR" property="mac" />
    <result column="LATYPE" jdbcType="VARCHAR" property="latype" />
    <result column="INDICATION" jdbcType="TINYINT" property="indication" />
    <result column="REALTIME" jdbcType="BIT" property="realtime" />
    <result column="CAPTURE_TIME" jdbcType="VARCHAR" property="captureTime" />
    <result column="RARTA" jdbcType="BIGINT" property="rarta" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="DEVICE_NAME" jdbcType="VARCHAR" property="deviceName" />

  </resultMap>







  <sql id="Base_Column_List">
    ID, SITE_ID, SN, NAME, TYPE, BAND, OPERATOR, MANUFACTURER, REMARK, CREATE_TIME, UPDATE_TIME,
    DELETE_FLAG
  </sql>


  <insert id="insertUeinfo" parameterType="java.util.Map">
    INSERT INTO ${tablename} VALUES(NULL ,#{sitename},#{devicesn},#{sitesn},#{imsi},#{imei},#{stmsi},#{mac},#{latype},
    0,#{realtime},
    #{capturetime},#{rarta},
    #{createtime},#{cityname},
    #{citycode},#{band},
    #{operator})
  </insert>



  <select id="getHeimingdan"  resultMap="BaseResultMap1">
    select
  SITE_NAME,SITE_SN,IMSI,IMEI
    from t_target_alarm

  </select>

  <select id="selectByDevSN" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_device
    where SN = #{SN,jdbcType=VARCHAR} and DELETE_FLAG = 0
  </select>


  <select id="selectById"  parameterType="java.lang.Long" resultType="com.iekun.ef.model.Site">
    SELECT S.ID,
    S.SN,
    S.NAME,
    S.LONGITUDE,
    S.LATITUDE,
    S.ADDRESS,
    S.REMARK,
    S.DELETE_FLAG,
    S.CREATE_TIME,
    S.UPDATE_TIME,
    S.CITY_CODE,
    S.ZIP_CODE,
    S.PROVINCE_ID,
    S.CITY_ID,
    S.TOWN_ID,
    S.PROVINCE_NAME,
    S.CITY_NAME,
    S.TOWN_NAME,
    S.LC,
    S.CI
    from t_site S
    WHERE S.id=#{id}
  </select>

  <select id="getTableName" parameterType="String" resultType="String">
    select SHARDING_TAB_NAME as tableName from t_sharding_tab_info where SHARDING_TAB_DATE=#{date}
   </select>



  <!--INSERT INTO ${"t_ue_info_"+DATE_FORMAT(NOW(),'%Y_%m_%d')} VALUES-->
  <!--<insert id="insertListUeInfo" parameterType="java.util.Map"  >


    INSERT INTO ${tablename}  VALUES

    <foreach collection="list" item="ueinfo123" index="index"  separator=",">

      (NULL ,#{ueinfo123.siteName},#{ueinfo123.deviceSn},#{ueinfo123.siteSn},#{ueinfo123.imsi},#{ueinfo123.imei},#{ueinfo123.stmsi},
      #{ueinfo123.mac},#{ueinfo123.latype},
      0,0,
      now(),0,
      #{ueinfo123.createTime},#{ueinfo123.cityName},
      #{ueinfo123.cityCode},#{ueinfo123.band},
      #{ueinfo123.operator})
    </foreach>

  </insert>
-->

  <!--<select id="gettableshuju"    resultMap="BaseResultMap12">
   SELECT * FROM ${table} WHERE ${condition} ORDER BY CAPTURE_TIME DESC
  </select>-->

  <select id="gettableshuju"    resultMap="BaseResultMap12">
    SELECT  c.*,a.NAME as DEVICE_NAME FROM ${table} c,t_device a  WHERE ${condition} and c.device_sn=a.SN ORDER BY CAPTURE_TIME DESC
  </select>







</mapper>