<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iekun.ef.dao.UserMapper">
  <resultMap  type="com.iekun.ef.model.User" id="BaseResultMap">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="SEX" jdbcType="TINYINT" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE_PHONE" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DELETE_FLAG" jdbcType="BIT" property="deleteFlag" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="LOCKED" jdbcType="BIT" property="locked" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOGIN_NAME, USER_NAME, SEX, PASSWORD, EMAIL, MOBILE_PHONE, REMARK, DELETE_FLAG, 
    CREATE_TIME, UPDATE_TIME, CREATOR_ID, SALT, LOCKED, ROLE_ID
  </sql>
  <select id="selectByExample" parameterType="com.iekun.ef.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="getEmailByUid" parameterType="java.lang.Long" resultType="java.lang.String">
    select 
    EMAIL
    from t_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
   <select id="selectUserList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where DELETE_FLAG=0
   </select>
   
   <select id="selectUserListByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where DELETE_FLAG=0 and ROLE_ID = #{id,jdbcType=BIGINT}
   </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user where ID = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.iekun.ef.model.UserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iekun.ef.model.User">
    insert into t_user (ID, LOGIN_NAME, USER_NAME, 
      SEX, PASSWORD, EMAIL, 
      MOBILE_PHONE, REMARK, DELETE_FLAG, 
      CREATE_TIME, UPDATE_TIME, CREATOR_ID, 
      SALT, LOCKED, ROLE_ID)
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, 
      #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=BIT}, #{roleId,jdbcType=BIGINT})
  </insert>
  
   <update id="updateById" parameterType="com.iekun.ef.model.User">
    update  t_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      SEX =  #{sex,jdbcType=TINYINT}, 
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE_PHONE =  #{mobilePhone,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=BIT},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
      where ID = #{id,jdbcType=BIGINT} 
  </update>
  
  <update id="updatePasswordById" parameterType="com.iekun.ef.model.User">
    update  t_user
    <set>
     <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT} 
  </update>
  
  <update id="updateUserSelfInfo" parameterType="com.iekun.ef.model.User">
    update  t_user
    <set>
     <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=TINYINT},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="setAccountActiveById" parameterType="com.iekun.ef.model.User">
    update  t_user 
    set LOCKED = #{locked,jdbcType=BIT}
      where ID = #{id,jdbcType=BIGINT} 
  </update>
  
  <insert id="insertSelective" parameterType="com.iekun.ef.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="locked != null">
        LOCKED,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iekun.ef.model.UserExample" resultType="java.lang.Integer">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loginName != null">
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null">
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null">
        DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.salt != null">
        SALT = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.locked != null">
        LOCKED = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set ID = #{record.id,jdbcType=BIGINT},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=TINYINT},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      SALT = #{record.salt,jdbcType=VARCHAR},
      LOCKED = #{record.locked,jdbcType=BIT},
      ROLE_ID = #{record.roleId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iekun.ef.model.User">
    update t_user
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=TINYINT},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        LOCKED = #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iekun.ef.model.User">
    update t_user
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=TINYINT},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      SALT = #{salt,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=BIT},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
    AND DELETE_FLAG = 0
  </select> 

  <select id="getUserIdByUserName" parameterType="java.lang.String" resultType="java.lang.Long">
    select
    ID
    from t_user
    where LOGIN_NAME = #{userName,jdbcType=VARCHAR}
    AND DELETE_FLAG = 0
  </select>
  
  <!-- <resultMap id="BaseResultMap" type="com.iekun.ef.model.User">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE_PHONE" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DELETE_FLAG" jdbcType="BIT" property="deleteFlag" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="LOCKED" jdbcType="BIT" property="locked" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOGIN_NAME, USER_NAME, SEX, PASSWORD, EMAIL, MOBILE_PHONE, REMARK, DELETE_FLAG, 
    CREATE_TIME, UPDATE_TIME, CREATOR_ID, SALT, LOCKED, ROLE_ID
  </sql>
  <select id="selectByExample" parameterType="com.iekun.ef.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.iekun.ef.model.UserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iekun.ef.model.User">
    insert into t_user (ID, LOGIN_NAME, USER_NAME, 
      SEX, PASSWORD, EMAIL, 
      MOBILE_PHONE, REMARK, DELETE_FLAG, 
      CREATE_TIME, UPDATE_TIME, CREATOR_ID, 
      SALT, LOCKED, ROLE_ID)
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT}, 
      #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=BIT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.iekun.ef.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="locked != null">
        LOCKED,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iekun.ef.model.UserExample" resultType="java.lang.Integer">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loginName != null">
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null">
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null">
        DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.salt != null">
        SALT = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.locked != null">
        LOCKED = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set ID = #{record.id,jdbcType=BIGINT},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      SALT = #{record.salt,jdbcType=VARCHAR},
      LOCKED = #{record.locked,jdbcType=BIT},
      ROLE_ID = #{record.roleId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iekun.ef.model.User">
    update t_user
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        LOCKED = #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iekun.ef.model.User">
    update t_user
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      SALT = #{salt,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=BIT},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.iekun.ef.model.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE_PHONE" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="DELETE_FLAG" jdbcType="BIT" property="deleteFlag" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="CREATOR_ID" jdbcType="INTEGER" property="creatorId" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="LOCKED" jdbcType="BIT" property="locked" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, LOGIN_NAME, USER_NAME, SEX, PASSWORD, EMAIL, MOBILE_PHONE, REMARK, DELETE_FLAG, 
    CREATE_TIME, UPDATE_TIME, CREATOR_ID, SALT, LOCKED, ROLE_ID
  </sql>
  <select id="selectByExample" parameterType="com.iekun.ef.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.iekun.ef.model.UserExample">
    delete from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iekun.ef.model.User">
    insert into t_user (ID, LOGIN_NAME, USER_NAME, 
      SEX, PASSWORD, EMAIL, 
      MOBILE_PHONE, REMARK, DELETE_FLAG, 
      CREATE_TIME, UPDATE_TIME, CREATOR_ID, 
      SALT, LOCKED, ROLE_ID)
    values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{creatorId,jdbcType=INTEGER}, 
      #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=BIT}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iekun.ef.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="locked != null">
        LOCKED,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iekun.ef.model.UserExample" resultType="java.lang.Integer">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.loginName != null">
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null">
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null">
        DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.salt != null">
        SALT = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.locked != null">
        LOCKED = #{record.locked,jdbcType=BIT},
      </if>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user
    set ID = #{record.id,jdbcType=INTEGER},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=INTEGER},
      SALT = #{record.salt,jdbcType=VARCHAR},
      LOCKED = #{record.locked,jdbcType=BIT},
      ROLE_ID = #{record.roleId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iekun.ef.model.User">
    update t_user
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        LOCKED = #{locked,jdbcType=BIT},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iekun.ef.model.User">
    update t_user
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE_PHONE = #{mobilePhone,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      SALT = #{salt,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=BIT},
      ROLE_ID = #{roleId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>